<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <h1>This is form for backend</h1>

    <div class="container">
        <form action="" method="POST">
            <label for="user__name">Name </label>
            <input type="text" name="user__name" id="user__name" placeholder="Tara Chand">

            <label for="user__email">Email </label>
            <input type="email" name="user__email" id="user__email" placeholder="tara478@gmail.com">
            <label for="user__phone">Phone</label>
            <input type="number" name="user__phone" id="user__phone" placeholder="98283215464">
            <label for="user__password">Password</label>
            <input type="password" name="user__password" id="user__password" placeholder="********">
            <label for="user__confirm_password">Confirm Password</label>
            <input type="password" name="user__confirm_password" id="user__confirm_password" placeholder="*******">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="log">
        <a href="login">Login</a>
        <br>
        <a href="secret">secret</a>
    </div>
</body>
</html>