<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>This is Login page</h1>
    <div class="container">
        <form action="/login" method="POST"> 
            <label for="user_login_email">Email</label>
            <input type="email" name="user_login_email" id="user_login_email" placeholder="tara@gmail.com" class="form-control" required>
            <label for="user_login_password">Password</label>
            <input type="text" name="user_login_password" id="user_login_password" class="form-control" placeholder="*******" required>
            <input type="submit" value="LogIn">
        </form>
    </div>
    <div class="regis">
        <a href="/">Regist</a>
        <br>
        <a href="secret">secret</a>
    </div>
</body>
</html>